{# page.twig #}

{% extends "includes/base.twig" %}
{% set title = "page1"  %}

{% block content %}
   <div class="container">

   {% include ('includes/header.twig') %}

   	<h1>Yo!</h1>
   </div> 
{% endblock %}